{
	"presets": [
		[
			"@babel/preset-env"
		]
	],
	"sourceMap": "inline",
	"retainLines": true,
	"plugins": [
		["@babel/plugin-proposal-object-rest-spread", {
			"useBuiltIns": true
		}],
		["@babel/plugin-proposal-class-properties"]
	]
}